<div class="container my-5">
  <div class="row">
    <div class="col-lg-7">
      <img src="/assets/flat1.jpg" class="img-fluid rounded shadow-sm mb-4" alt="flat">
    </div>
    <div class="col-lg-5">
      <h1 class="fw-bold mb-3"><%= @flat.name %></h1>
      <p class="text-muted"><i class="bi bi-geo-alt"></i> <%= @flat.address %></p>
      <p class="text-muted"><i class="bi bi-geo-alt"></i> <%= @flat.description %></p>
      <p><strong>Price per night:</strong> <%= @flat.price_per_night %></p>
      <p><strong>Number of guests:</strong> <%= @flat.number_of_guests %></p>
    </div>
  </div>
</div>
